In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('realestate.csv')

In [3]:
data

      Unnamed: 0 no_bhk     price  area          cons_stats
0              0     3    6598000  1571  Under Construction
1              1     4   14800000  1930  Under Construction
2              2     4   29900000  4157  Under Construction
3              3     4   40800000  3400  Under Construction
4              4     4   17500000  3183  Under Construction
...          ...    ...       ...   ...                 ...
1995        1995     2    6318000  1215  Under Construction
1996        1996     2    6318000  1215  Under Construction
1997        1997     3    9308000  1790  Under Construction
1998        1998     3    9308000  1790  Under Construction
1999        1999     3    6578000  1265  Under Construction

[2000 rows x 5 columns]

In [4]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
data

     no_bhk     price  area          cons_stats
0        3    6598000  1571  Under Construction
1        4   14800000  1930  Under Construction
2        4   29900000  4157  Under Construction
3        4   40800000  3400  Under Construction
4        4   17500000  3183  Under Construction
...     ...       ...   ...                 ...
1995     2    6318000  1215  Under Construction
1996     2    6318000  1215  Under Construction
1997     3    9308000  1790  Under Construction
1998     3    9308000  1790  Under Construction
1999     3    6578000  1265  Under Construction

[2000 rows x 4 columns]

In [6]:
data['cons_stats'].value_counts()

Under Construction    900
Ready to move         521
New                   434
Resale                145
Name: cons_stats, dtype: int64

In [7]:
data.shape

(2000, 4)

In [8]:
data.isnull().sum()

no_bhk        0
price         0
area          0
cons_stats    0
dtype: int64

In [9]:
data['no_bhk'].value_counts()

3                   685
Residential Plot    579
2                   440
4                   194
5                    73
1                    11
10                    4
6                     4
9                     4
8                     3
7                     3
Name: no_bhk, dtype: int64

In [10]:

data = data[data['no_bhk'] != 'Residential plot']

In [11]:
data['no_bhk'].value_counts()

3                   685
Residential Plot    579
2                   440
4                   194
5                    73
1                    11
10                    4
6                     4
9                     4
8                     3
7                     3
Name: no_bhk, dtype: int64

In [12]:

data['no_bhk'] = data['no_bhk'].replace('Residential Plot', '0')

In [13]:
data['no_bhk'].value_counts()

3      685
0      579
2      440
4      194
5       73
1       11
10       4
6        4
9        4
8        3
7        3
Name: no_bhk, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [15]:
data['cons_stats']=encoder.fit_transform(data['cons_stats'])

In [16]:
data['cons_stats'].value_counts()

3    900
1    521
0    434
2    145
Name: cons_stats, dtype: int64

In [17]:
data

     no_bhk     price  area  cons_stats
0        3    6598000  1571           3
1        4   14800000  1930           3
2        4   29900000  4157           3
3        4   40800000  3400           3
4        4   17500000  3183           3
...     ...       ...   ...         ...
1995     2    6318000  1215           3
1996     2    6318000  1215           3
1997     3    9308000  1790           3
1998     3    9308000  1790           3
1999     3    6578000  1265           3

[2000 rows x 4 columns]

In [18]:
data.to_csv('cleaneddata.csv')

# Train Test Split

In [19]:
X = data.drop(['price'],axis=1)

In [20]:
y = data['price']

In [32]:
print(X)
#print(y)
X

     no_bhk  area  cons_stats
0        3   1571           3
1        4   1930           3
2        4   4157           3
3        4   3400           3
4        4   3183           3
...     ...   ...         ...
1995     2   1215           3
1996     2   1215           3
1997     3   1790           3
1998     3   1790           3
1999     3   1265           3

[2000 rows x 3 columns]

     no_bhk  area  cons_stats
0        3   1571           3
1        4   1930           3
2        4   4157           3
3        4   3400           3
4        4   3183           3
...     ...   ...         ...
1995     2   1215           3
1996     2   1215           3
1997     3   1790           3
1998     3   1790           3
1999     3   1265           3

[2000 rows x 3 columns]

# Model Building

In [23]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import r2_score

In [24]:
score = []
for i in range(1,50):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = i)
    model = GaussianNB()
    reg = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)  
    score.append(r2_score(y_test,y_pred))
random_value = score.index(max(score)) + 1
random_value

44

In [25]:

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=random_value)
model = GaussianNB()
reg = model.fit(X_train, y_train)

In [26]:
y_pred = model.predict(X_test)

In [27]:
r2_score(y_test,y_pred)

0.898637710474589

In [28]:
model.predict([[3,1571,3]])[0]

C:\Users\H_7\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

6598000

In [30]:
import pickle
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(data,open('df.pkl','wb'))